

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&display=swap');

/* font-family: 'Black Ops One', cursive; */


.App{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  background-color: salmon;
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  color: #ffff;
}
.footer{
  position: absolute;
  bottom: 20px;
  color: rgb(200, 86, 73);
}